<div class="container my-auto mx-auto">
    <div class="row">
        <div class="col-md">
            <h1>Welcome to {{title}}</h1>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-sm">
            <button mat-raised-button color="primary" class="float-right mr-4  mt-1" [routerLink]="['/login']" >Login</button>
        </div>
        <div class="col-sm">
            <button mat-raised-button color="primary" class="float-left ml-4  mt-1" [routerLink]="['/register']">Register</button>
        </div>
    </div>
</div>